.App {
}

h1 {
  margin-bottom: 100px;
  margin-top: 60px;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  padding-left: 70px;
}

table,th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  font-weight: normal;
  text-align:center;
  padding: 10px 10px;
}

img{
  margin-right: 20px;
}

.user-table{
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 600px;
}

.user-table td{
  text-align: left;
  padding-left: 20px;
}

.user-avatar-image{
  width: 40px;
}

.menu-container{
  width: 600px;
  margin: auto;
  width: 50%;
  align: left;
  margin-bottom: 100px;
}
.menu{
  list-style: none;

}
.menu li{
  width: 100px;
  border: 1px solid red;
}

.pagination{
  width: 600px;
  margin: auto;
  width: 50%;
  align: left;
  margin-top: 100px;
  text-align: right;
}

.user-name{
  width: 75%;
  float: right;
}

.home-button{
  float:right;
  margin-top: -80px;
}

.button-container{
  float: right;
  padding-left: 20px;
}
